
* {
  box-sizing: border-box;

}
html {
  background-color: black;
  font-family: Arial;
  font-size: 18px;
}
#start {
  position: fixed;
  z-index: 12;
}

#content {
  width: 800px;
  margin: 0 auto;
}


#content h1 {
  font-size: 3rem;
  text-align: center;
  color: #FCFCFC;
}

.simon-container {
  margin: 20px auto;
  width:400px;
  height:400px;
  background-color:black;
  display:grid;
  grid-template-columns: 200px 200px;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.simon-container .simon-button {
  align-items: center;
  background-color: #333;
  border-radius: 40px;
  color: #fff;
  padding: 100px;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;

  position: relative;
  z-index: 8;
}

.simon-button.green {
  background-color: #21BA45;
}

.simon-button.red {
  background-color: #DB2828;
}

.simon-button.yellow {
  background-color: #FBBD08;
}

.simon-button.blue {
  background-color: #2185D0;

}

.controls {
  border-radius: 50px;
  margin-top: 187px;
  margin-left: 165px;
  width: 88px;
  height: 45px;
  border: solid 10px white;
  background-color: white;
  float: center;
  position: fixed;
  z-index: 10;
  font-size: larger;

}

#0 :hover {
  background-color: yellowgreen;
}
